.user-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    height: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.user-search-container h1 {
    margin-bottom: 20px;
}

.user-search-container p {
    margin-bottom: 20px;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding-top: 1rem;
    box-sizing: border-box;
    width: 90%;
    padding-bottom: 6rem;
}

@media (max-width: 768px) {
    .user-list {
        grid-template-columns: 1fr;
    }
}

.user-list.single-card {
    display: flex;
    justify-content: center;
}